.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.input-title {
    font-weight: bold;
    margin: 0px;
}

.text-area-input {
    color: var(--md-sys-color-on-surface);
    width: 100%;
    padding: 10px;
    background-color: var(--md-sys-color-surface-container);
    box-sizing: border-box;
    border: none;
    resize: none;
    border-radius: 12px;
}