

.header{
    display:flex;
    align-items: center;
}

h1 {
   /* margin-right: 1100px; /* Adjust the spacing between h1 and button */
   flex:1;
  }

  .newbtn{
      width:300px;
      background-color:black;
      color:white;
      /* Set the border radius to make it rounded */
      border-radius: 20px;
      /* Add other styling properties */
      text-align: center;
      font-size: 16px;
    
  }

  
