.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 0%;
  }
  
  #task-counter {
    display: flex;
    align-items: flex-end;
  }

  .view-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  .view-button:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
  } 
