.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 0%;
  }
  
  #task-counter {
    display: flex;
    align-items: flex-end;
    color: var(--md-sys-color-on-surface);
  }

.view-buttons {
  display: flex;
  gap: 5px;
}

.view-button {
  color: var(--md-sys-color-on-surface-variant)
}

.view-button.selected {
  color: var(--md-sys-color-on-surface)
}
